:root {
  --white: #ffffff;
  --black: #111;
  --pitch-black: #000;
  --purple: #2e4dff;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c9cf;
  --red: #7e1414;


}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}


body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;

  background-color: var(--black);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  color: white !important;
  text-decoration: none;
}